@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .select-input {
    @apply select-primary select select-sm;
  }

  footer {
    @apply my-3;
  }

  #page-container {
    position: relative;
    min-height: 100vh;
  }

  img {
    pointer-events: none;
  }

  ::placeholder {
    @apply capitalize;
  }

  a {
    @apply hover:bg-inherit;
  }
}

.hero-main {
  background-image: url('../image/banner.jpeg'),
    linear-gradient(rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5));
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
}
